* {
  font-family: "Outfit", serif;
}

/*HEADER*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2%;
}

#logo {
  font-weight: 600;
  font-size: 2rem;
  display: inline;
  padding: 5px;
}

.sixtyfour-convergence-logo {
  font-family: "Sixtyfour Convergence", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0, "XELA" 0, "YELA" 0;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

li {
  margin-left: 3rem;
}

a {
  color: black;
}

h1 {
  color: coral;
}

@media screen and (max-width: 520px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }

  ul {
    margin-top: 0;
  }

  li {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

/*MAIN*/

.foto-lidia {
  width: 20%;
}

/*PROJECTS*/

.projects-category {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.project-image {
  width: 100%;
}

@media screen and (min-width: 520px) {
  .projects-category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 750px) {
  .projects-category {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*COFFEE TABLE BOOK*/
/*  .container {
  display: flex;
  justify-content: space-between; 
} */

.coffee-table-one,
.coffee-table-two {
  width: 50%;
}

/* .coffee-table-two {
  flex-direction: column-reverse; 
} */

/*CONTACTS*/

figure {
  margin-left: 0;
}

/*FOOTER*/

footer {
  margin-top: 3rem;
  border-top: 1px solid black;
}
